/* tags */
h1 {
    padding: 15px 10px;
}

/* utilities */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    padding: 10px;
    background-color: dodgerblue;
    border: 1px solid white;
    border-radius: 4px;
}

.box.content-none {
    height: 40px;
    padding: 0;
}

[class*="offset-"]>div.box {
    background-color: transparent;
    border: currentColor;
}

.nested-box {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.75rem;
    padding: 10px;
    background-color: lightgreen;
    border: 1px solid dodgerblue;
    border-radius: 4px;
}

.separator {
    height: 30px;
}