/* tags */

h1 {
    padding: 15px 10px;
}

/* utilities */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    padding: 10px;
    background-color: dodgerblue;
    border: 1px solid white;
    border-radius: 4px;
}

.nested-box {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.75rem;
    padding: 10px;
    background-color: lightgreen;
    border: 1px solid dodgerblue;
    border-radius: 4px;
}

.separetor {
    height: 30px;
}